@model WebApplication19.Models.znajomi

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie znajomego</h1>

<h3>Czy na pewno chcesz usunąć tego znajomego?</h3>
<div>
    <hr />
        <dl class="row">
                <!--
                <dt class="col-sm-2">
                    Html.DisplayNameFor(model => model.Id_znajomwgo)
                </dt>
                <dd class="col-sm-10">
                    Html.DisplayFor(model => model.Id_znajomwgo)
                </dd>-->
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id_znajomi" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Powrót</a>
        </form>
</div>
