@model WebApplication19.Models.znajomi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>znajomi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_znajomi" />
            <div class="form-group">
                <label asp-for="Id_uzytkownicy" class="control-label"></label>
                <input asp-for="Id_uzytkownicy" class="form-control" />
                <span asp-validation-for="Id_uzytkownicy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_znajomwgo" class="control-label"></label>
                <input asp-for="Id_znajomwgo" class="form-control" />
                <span asp-validation-for="Id_znajomwgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poczatek_znajomosci" class="control-label"></label>
                <input asp-for="poczatek_znajomosci" class="form-control" />
                <span asp-validation-for="poczatek_znajomosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

