@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Witaj na Portalu!</h1>
        <p><a href="/Identity/Account/Login">Zaloguj się</a> lub jeśli nie masz jeszcze konta <a href="/Identity/Account/Register">zarejestruj się</a>!</p>
</div>
