@model WebApplication19.Models.filmy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>filmy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_filmy" />
            <div class="form-group">
                <label asp-for="nazwa" class="control-label"></label>
                <input asp-for="nazwa" class="form-control" />
                <span asp-validation-for="nazwa" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="id_uzytkownicy" class="control-label"></label>
                <input asp-for="id_uzytkownicy" class="form-control" />
                <span asp-validation-for="id_uzytkownicy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link_bezposredni" class="control-label"></label>
                <input asp-for="link_bezposredni" class="form-control" />
                <span asp-validation-for="link_bezposredni" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
